*{margin:0;padding:0;list-style: none;}
#hrl{
    width: 100%;
}
#hrl .top-nav{
    width: 100%;
    line-height: 36px;
    padding:0 30px;
    background: rgba(242, 242, 242);
    position: relative;
}
#hrl .top-nav a{
    color: #363636;
}
#hrl .top-nav .top-nav-right{
    position: absolute;
    right: 40px;
    top: 0;
}
#hrl .top-nav .top-nav-left a{
    font-size: 18px;
}
#hrl .top-nav .top-nav-right a{
    font-size: 15px;
}
#hrl .top-nav .top-nav-right img{
    width: 16px;
    height: 16px;
}
/* 顶部选项卡的样式 */
#hrl .top-tab{
    width: 100%;
    position: relative;
    background: white;
    z-index: 100;
}
#hrl .fixed{
    position: fixed;
    left: 0;
    top: 0;
}
#hrl .top-tab .nav-tab{
    border-bottom: 1px solid #cccccc;
}
#hrl .top-tab .nav-tab-list{
    padding-left: 30px;
}
#hrl .top-tab .nav-tab-list li{
    float: left;
    margin-right: 16px;
}
#hrl .top-tab .nav-tab-list li a{
    height: 64px;
    /* width: 60px; */
    line-height: 64px;
    font-size: 15px;
    color: #363636;
}
#hrl .top-tab .nav-tab-list .active{
    border-bottom: 1px solid blue;
}
#hrl .top-tab .tab-cont{
    background: #fff;
    width: 100%;
    position: absolute;
    padding-top: 20px;
    z-index: 100;
}
#hrl .top-tab .tab-cont .goodsDiv{
    display: none;
}
#hrl .top-tab .tab-cont .tab-active{
    display: block;
}
#hrl .top-tab .tab-cont .goodsDiv ul{
    float: left;
}
#hrl .top-tab .tab-cont .goodsDiv .tab-img{
    border-right: 1px solid #cccccc;
}
#hrl .top-tab .tab-cont .goodsDiv .tab-img li{
    float: left;
    max-width: 100px;
    font-size: 13px;
    margin: 0 30px;
    text-align: center;
}
#hrl .top-tab .tab-cont .goodsDiv .tab-img li a{
    color: #363636;
}
#hrl .top-tab .tab-cont .goodsDiv .tab-img li img{
    width: 100px;
    height: 100px;
}
#hrl .top-tab .tab-cont .goodsDiv .tab-txt{
    margin-left: 30px;
}
#hrl .top-tab .tab-cont .goodsDiv .tab-txt li{
    line-height: 30px;
}
#hrl .top-tab .tab-cont .goodsDiv .tab-txt li a{
    font-size: 15px;
    color: #363636;
}
/* 顶部logo、右边的样式 */
#hrl .top-tab .top-logo{
    position: absolute;
    left: 45%;
    top: 20px;
}
#hrl .top-tab .top-logo img{
    width: 110px;
    height: 20px;
}
#hrl .top-tab .top-tab-right{
    position: absolute;
    right: 0;
    top: 20px;
}
#hrl .top-tab .top-tab-right a{
    font-size: 14px;
    color: #363636;
    margin-right: 16px;
}
#hrl .top-tab .top-tab-right a img{
    width: 20px;
    height: 20px;
}
/* 轮播图的样式 */
#hrl .banner{
    max-width: 100%;
    height: 427px;
    overflow: hidden;
    z-index: 1;
}
#hrl .banner .bannerimgs{
    height: 427px;
    width: 800%;
    overflow: hidden;
}
#hrl .banner .bannerimgs li{
    float: left;
    width: 12.5%;
    border-bottom: 1px solid #ccc;
    text-align: center;
    line-height: 427px;
}
#hrl .advertisement{
    padding-left: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    /* background: #363636; */
    margin:0 auto;
}
#hrl .advertisement div{
    float: left;
    width: 28%;
    margin: 0 20px;
}
#hrl .advertisement img{
    width: 310px;
    height: 200px;
}
#hrl .activity-region{
    width: 100%;
    overflow: hidden;
    height: 200px;
}
#hrl .activity-region p{
    font-size: 26px;
    color: #363636;
    margin-bottom: 32px;
}
#hrl .activity-region .activityimg{
    width: 3660px;
    /* height: 184px; */
}
#hrl .activity-region .activityimg li{
    float: left;
    width: 1220px;
}
#hrl .activity-region .activityimg li img{
    width: 1220px;
    height: 200px;
}
#hrl .hot-goods{
    width: 100%;
    padding-top: 20px;
}
#hrl .hot-goods .hot-text{
    font-size: 26px;
    color: #363636;
    margin-bottom: 32px;
}
#hrl .hot-goods .hot-goods-list>div{
    float: left;
    font-size: 16px;
    border-right: 5px solid #ccc;
    text-align: center;
}
#hrl .hot-goods .hot-goods-list .hotbox{
    position: relative;
    padding: 0 20px;
}
#hrl .hot-goods .hot-goods-list .hotbox div img{
    width: 205px;
    height: 205px;
}
#hrl .hot-goods .hot-goods-list .hotbox div h3 p{
    color: #ccc;
    font-size: 14px;
}
#hrl .hot-goods .hot-goods-list .hotbox .classhot{
    display: block;
    width: 30px;
    height: 50px;
    background: red;
    position: absolute;
    top: 0;
    left: 0;
}
#hrl .hot-goods .hot-goods-list .hotbox .oldprice{
    text-decoration: line-through;
    color: #ccc;
}
#hrl .erweima{
    width: 100%;
    height: 200px;
    background: url(../img/erweima.png) no-repeat;
    background-size: 100% 100%; 
    margin-top: 20px;
}
#hrl .footerA{
    width: 100%;
    height: 200px;
    background: url(../img/footer01.png) no-repeat;
    background-size: 100% 100%;
    margin-top: 10px;
}
#hrl .footerB{
    width: 100%;
    height: 400px;
    background:url(../img/footer.png) no-repeat;
    background-size: 100% 100%;
    margin-top: 10px;
}